input{
    all:unset;
}
.BigNote{
    width: 60%;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.Header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E7394;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.title{
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #4E7394;
}
.textContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text{
    all: unset;
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-wrap: wrap;
    resize: none;
    font-size: 18px;
}

.text::-webkit-scrollbar {
    width: 10px;
    height: 20px; 
}

.text::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px; 
}