@keyframes close {
    from {width: 180px;}
    to {width: 40px;}
  }

.colors{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: close;
    animation-duration: 400ms;
    left: 20px;
    position: absolute;
    cursor: pointer;
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid white; /* Para dar destaque */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
.circle.selected

.circle:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}