.colors{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.circle{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}